body {
    padding: 5px;
    width: 100%;
}

table {
    width: 100%;
}

table.result {
    border: 1px solid #444444;
    border-collapse: collapse;
}

tr.result,
th.result,
td.result {
    border: 1px solid #444444;
    padding: 10px;
    word-break: break-all;
    text-align: center
}
